* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "simpsonsfont";
  src: url(../../fonts/Simpsonfont.ttf);
}
body {
  background-color: #4fc8f8;
}

.header {
  background-color: rgb(11, 185, 254);
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 3px solid #000000;
  font-family: sans-serif;
}
.header .logo .logo-img {
  max-width: 100%;
}
.header .navbar {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.header .navbar .nav-item {
  display: flex;
  position: relative;
  margin-left: 3rem;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
}
.header .navbar .nav-item:hover {
  color: yellow;
  transition: 0.3s;
}
.header .navbar .nav-item::after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}
.header .navbar .nav-item:hover::after {
  width: 100%;
}
.header .navbar .nav-item .active {
  font-weight: bolder;
  color: yellow;
}
@media (max-width: 788px) {
  .header .navbar .nav-item {
    font-size: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 592px) {
  .header .navbar .nav-item {
    font-size: 1rem;
    margin-left: 0.2rem;
  }
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.home {
  background-color: #4fc8f8;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid black;
  min-height: 50vh;
}
@media (max-width: 1100px) {
  .home {
    display: block;
  }
}
.home .home-info {
  background-color: rgb(11, 185, 254);
  width: 500px;
  padding: 7rem;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0 0 10px;
}
@media (max-width: 1100px) {
  .home .home-info {
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.home .home-info .info-p {
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif;
}
@media (max-width: 710px) {
  .home .home-info .info-p {
    font-size: 1.2rem;
  }
}
@media (max-width: 568px) {
  .home .home-info .info-p {
    font-size: 1rem;
  }
}
.home .trailer-box {
  display: flex;
}
.home .trailer-box .trailer {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  border-radius: 2%;
}
.home .trailer-box .trailer:hover {
  border: solid 1px;
}
@media (max-width: 1570px) {
  .home .trailer-box .trailer {
    margin-left: 1rem;
  }
}

.about {
  background-color: rgb(11, 185, 254);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 0.2fr 3fr 0.2fr 1fr;
  align-items: center;
  max-height: 100%;
  min-height: 30vh;
}
@media (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.about .about-title {
  margin-left: 2rem;
}
@media (max-width: 1340px) {
  .about .about-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .about .about-title {
    font-size: 2rem;
  }
}
.about .separador {
  font-size: 3rem;
}
@media (max-width: 700px) {
  .about .separador {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
.about .about-p {
  font-style: italic;
  margin-right: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}
.about .redes {
  display: flex;
  justify-content: space-around;
}
.about .redes .social-icon {
  color: black;
  font-size: 1.5rem;
  margin-inline: 1rem;
}
.about .redes .social-icon:hover {
  color: yellow;
  animation: rotate-center alternate 1s;
}
@media (max-width: 1340px) {
  .about .redes .social-icon {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .about .redes .social-icon {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #2cade0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  border-top: 3px solid black;
  font-family: sans-serif;
  margin-top: auto;
}
.footer .nav-footer {
  margin-right: 7rem;
}
@media (max-width: 700px) {
  .footer .nav-footer {
    margin-right: 3rem;
  }
}
.footer .nav-footer .nav-list-footer {
  list-style-type: none;
  text-align: center;
}
.footer .nav-footer .nav-list-footer .nav-item-footer a {
  text-decoration: none;
  color: #000000;
  font-size: 0.9rem;
}
.footer .nav-footer .nav-list-footer .nav-item-footer a:hover {
  text-decoration: underline;
}
.footer .copyright {
  margin-right: 7rem;
  text-align: center;
}
@media (max-width: 700px) {
  .footer .copyright {
    margin-right: 3rem;
  }
}
.footer .copyright p {
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  .footer .copyright p {
    font-size: 1rem;
  }
}
.footer .redes-footer {
  display: flex;
  margin-right: 1rem;
}
.footer .redes-footer .redes-ul {
  list-style-type: none;
  text-align: center;
}
.footer .redes-footer .redes-ul li {
  margin-bottom: 0.8rem;
}
.footer .redes-footer .redes-ul li a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
  font-size: 0.9rem;
}
.footer .redes-footer .redes-ul li a:hover {
  text-decoration: underline;
}

.personajes {
  background-color: #4fc8f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.personajes .title {
  font-family: simpsonsfont;
  color: rgb(218, 218, 39);
  font-size: 4rem;
  margin-top: 2rem;
}
.personajes .card {
  display: flex;
  max-width: 1800px;
  padding: 3rem;
}
@media (max-width: 768px) {
  .personajes .card {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.personajes .card .card-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  margin-block: 3rem;
  background-color: #2cade0;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
  max-height: 300px;
  width: 100%;
  font-family: sans-serif;
  gap: 2rem;
  margin: auto;
}
@media (max-width: 768px) {
  .personajes .card .card-info {
    margin: 0;
    border-radius: 20px;
    gap: 1rem;
  }
}
@media (max-width: 486px) {
  .personajes .card .card-info {
    max-height: 400px;
  }
}
.personajes .card .card-info a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  width: 100px;
  margin: auto;
}
.personajes .card .card-info a:hover {
  background-color: yellow;
}
.personajes .card .img-box {
  display: flex;
  width: 280px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 5px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .personajes .card .img-box {
    border-radius: 0;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
  }
}
@media (max-width: 486px) {
  .personajes .card .img-box {
    width: 250px;
    height: 350px;
  }
}
.personajes .card .img-box .card-img {
  width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.personajes .card .img-box .card-img:hover {
  transform: scale(1.1);
}

.fade-in-fwd {
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.title {
  font-family: simpsonsfont;
  color: rgb(218, 218, 39);
  font-size: 4rem;
  justify-content: center;
  margin-top: 2rem;
  display: flex;
  flex: 1;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 16px;
  padding: 2rem;
  background-color: #4fc8f8;
}
@media (max-width: 570px) {
  .galeria {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.galeria .item-galeria {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.galeria .item-galeria:hover {
  transform: scale(1.1);
}
.galeria .item-galeria img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.shop {
  background-color: #4fc8f8;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 80vh;
}
@media (max-width: 1424px) {
  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 728px) {
  .shop {
    display: flex;
    flex-direction: column;
  }
}
.shop .shop-card {
  width: 400px;
  height: 600px;
  margin: 20px auto;
  background-color: #2cade0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
@media (max-width: 1630px) {
  .shop .shop-card {
    width: 350px;
    height: 550px;
  }
}
.shop .shop-card img {
  width: 100%;
  height: 400px;
}
@media (max-width: 1630px) {
  .shop .shop-card img {
    height: 350px;
  }
}
.shop .shop-card .shop-card-content {
  padding: 20px;
}
.shop .shop-card .shop-card-content .shop-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.shop .shop-card .shop-card-content .shop-card-description {
  color: #000000;
  margin-bottom: 15px;
}
.shop .shop-card .shop-card-content .shop-card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.shop .shop-card .shop-card-content .shop-card-buttons {
  display: flex;
  justify-content: space-between;
}
.shop .shop-card .shop-card-content .shop-card-buttons .buy-button,
.shop .shop-card .shop-card-content .shop-card-buttons .cart-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  transition: background-color 0.3s;
}
.shop .shop-card .shop-card-content .shop-card-buttons .buy-button:hover,
.shop .shop-card .shop-card-content .shop-card-buttons .cart-button:hover {
  background-color: rgb(11, 185, 254);
}
.shop .shop-card .shop-card-content .shop-card-buttons .buy-button {
  background-color: #333;
}
.shop .shop-card .shop-card-content .shop-card-buttons .cart-button {
  background-color: #333;
}

.tracking-in-contract {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.contacto {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4fc8f8;
  padding: 2rem;
}
@media (max-width: 990px) {
  .contacto {
    padding: 30px;
    flex-direction: column;
  }
}
.contacto form {
  background-color: #2cade0;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 700px;
}
@media (max-width: 990px) {
  .contacto form {
    padding: 50px 30px;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.contacto form .contacto-title {
  font-size: 35px;
}
.contacto form .contacto-input {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contacto form .contacto-input label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.contacto form .contacto-input input, .contacto form .contacto-input textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(11, 185, 254);
  border: 2px solid #2cade0;
  outline: none;
}
@media (max-width: 990px) {
  .contacto form .contacto-input input {
    padding: 15px;
  }
}
.contacto form .contacto-input .contacto-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contacto form .contacto-input .contacto-txt a {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.contacto form .contacto-input .contacto-btn {
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: 0;
  border-radius: 25px;
  background-color: rgb(11, 185, 254);
  cursor: pointer;
}
.contacto .map {
  border-radius: 20px;
  box-shadow: 0 0 10px;
  display: flex;
}
@media (max-width: 1702px) {
  .contacto .map {
    width: 550px;
    height: 600px;
  }
}
@media (max-width: 1332px) {
  .contacto .map {
    width: 300px;
    height: 450px;
  }
}/*# sourceMappingURL=main.css.map */