* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* HEADER Y NAVBAR */
header {
    background-color: rgba(11,185,254,255);
    padding: 10px;
    text-align: center;
    border-bottom: 10px black solid;
}

.logo {
    display: block;
}

.logo-img {
    max-width: 100%;
}

.navbar {
    display: inline-block;
    margin-top: 10px;
}

.nav-item li {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a.active, 
.nav-item a:hover {
    text-decoration: underline wavy;
    color: yellow;
}

/* BODY */

/* Info y trailer */

.home {
    background-color: rgba(8, 180, 248, 0.432);
    padding: 30px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.info{
    display: inline-block;
    width: 500px;
    background-color: rgba(11,185,254,255);
    padding: 75px;
}

.info-p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.trailer-box {
    display: inline-block;
    margin-left: 50px;
}

/* About */

.about {
    background-color: rgba(11,185,254,255);
    padding: 30px;
}

.about-box{
    background-color: rgb(127, 225, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h2 {
    display: inline-block;
    margin: 15px;
}

.about .separador {
    display: inline-block;
    margin: 15px;
    font-size: 30px;
}

.about p {
    display: inline-block;
    width: 1300px;
    margin: 15px;
    font-style: italic;
}

.redes {
    display: flex;
    margin: 15px;
}

.social-icon {
    display: inline-block;
    margin: 10px;
}

.principal {
    display: flex;
    justify-content: space-between;
    background-color: rgba(8, 180, 248, 0.432);
    padding: 50px;
}

/* Personajes */

.card {
    background-color: rgba(8, 180, 248, 0.432);
}

.card-img-top {
    height: 25rem;
}

.card-title {
    font-weight: bold;
}

@media (max-width: 1552px) {

    .principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-bottom: 1rem;
    }
}


/* Galeria */

.grilla {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1   img2    img3"
    "img4   img5    img6"
    "img7   img8    img9";

}


.img1 {
    background-image: url("../img/galeria/img1.jpg");
    background-size: cover;
}
.img2 {
    background-image: url("../img/galeria/img2.jpg");
    background-size: cover;
}

.img3 {
    background-image: url("../img/galeria/img3.jpg");
    background-size: cover;
}
.img4 {
    background-image: url("../img/galeria/img4.jpg");
    background-size: cover;
}
.img5 {
    background-image: url("../img/galeria/img5.jpg");
    background-size: cover;
}
.img6 {
    background-image: url("../img/galeria/img6.jpg");
    background-size: cover;
}
.img7 {
    background-image: url("../img/galeria/img7.jpg");
    background-size: cover;
}
.img8 {
    background-image: url("../img/galeria/img8.jpg");
    background-size: cover;
}
.img9 {
    background-image: url("../img/galeria/img9.jpg");
    background-size: cover;
}
.img-galeria:hover{
    border: 2px solid;
}

@media (max-width: 1870px) {

    .grilla {
        height: 200vh;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "img1 im2"
            "im3 img4"
            "img5 img6"
            "img7 img8";
    }
}

@media (max-width: 992px) {
    
    .grilla {
        height: 200vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "img1" 
            "im2"
            "im3" 
            "img4"
            "img5"
            "img6"
            "img7" 
            "img8";
    }
}



/* merch */

.shop {
    padding: 2rem;
    background-color:rgba(8, 180, 248, 0.432);
    display: flex;
    justify-content: space-between;
}

/* Contacto */

.contacto {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.contacto-input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacto-title {
    font-size: 35px;
}

label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgba(96, 190, 228, 0.432); 
    border: 2px solid white;
    outline: none;
}

.contacto-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contacto-txt a {
    color: rgb(77, 194, 240);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.contacto-btn {
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: rgb(77, 194, 240);
    cursor: pointer;
}

@media (max-width: 990px) {

    .contacto {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;  
    }

    input {
        padding: 15px;
    }
}

/* footer */

footer {
    background-color: rgba(11, 185, 254, 255);
    color: white;
    text-align: center;
    padding: 20px;
}

hr {
    border: 1px solid white;
    margin: 10px auto;
    width: 300px;
}


