/* footer */

footer {
    background-color: rgba(11, 185, 254, 255);
    color: white;
    text-align: center;
    padding: 20px;
}

hr {
    border: 1px solid white;
    margin: 10px auto;
    width: 300px;
}


