.galeria {
    background-color: $fondoBody;
    padding: 1rem;
    display: flex;
    justify-content: center;

    #carouselExample {
        width: 1500px;

        .carousel-item {
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }

    }
}

