* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "simpsonsfont";
    src: url(../../fonts/Simpsonfont.ttf);
}

body {
    background-color: $fondoBody;
}

// body {
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
    
//     main {
//         flex: 1;
//         background-color: $fondoBody;
//     }
// }